body {
    max-width: 1024px;
    background-color: aliceblue;
    font-size: 18px;
    margin: 0 auto;
}

pre {
    background-color: #C0D6DF;
    text-align: left;
}

ul {
    list-style-type: none;
    margin: 30px auto;
    padding: 0 20px;
    text-align: center;
}

header {
    background-color: #466995;
    border-bottom: 1px solid #466995;
    padding: 10px;
    width: 100%;
    text-align: center;
}

footer {
    color: aliceblue;
    background-color: #466995;
    border-bottom: 1px solid #466995;
    padding: 10px;
    width: 100%;
    text-align: center;
}

section {
    background-color: #DBE9EE;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: relative;
}

h1 {
    color: aliceblue;
    font-size: 32px;
    font-weight: 300;
    text-transform: uppercase;
}
  
h2 {
    color: #466995;
    font-size: 26px;
    font-weight: 100;
    margin: 0 auto 20px auto;
    border-bottom: 1px solid #466995; 
}

summary:hover {
    background: #C0D6DF;
}